.header {
  background-color: rgb(227, 67, 67);
  height: 50px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: relative;
}

.specialOferts {
  justify-content: center;
  display: flex;
  padding: 20px; 
  text-align: center; 
}

.buttonOferts {
  border-radius: 12px;
  background-color: white; 
  color: black; 
  border: none;
  margin: 15px;
  cursor: pointer;
}
